<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyperledger Fabric Web App</title>
</head>
<body>
    <h1>Hyperledger Fabric Web App</h1>
    <form action="/invoke" method="post">
        <button type="submit">Invoke Chaincode</button>
    </form>
    <br>
    <form action="/query" method="get">
        <button type="submit">Query Chaincode</button>
    </form>
</body>
</html>
